// pages/blog/[id].tsx
.subdirectory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 30px 0;
  .content {
    padding: 30px;
    width: 80%;
  }
  .sideMenu {
    width: 20%;
  }
  .content,
  .sideMenu {
    margin: 10px;
  }
  .content {
    background-color: white;
    &__title {
      font-size: 20px;
      font-weight: bold;
    }
    &__head {
      margin-bottom: 30px;
    }
  }
  .details {
    h2 {
      font-size: 30px;
      font-weight: bold;
      border-bottom: 1px solid gray;
      line-height: normal;
      margin: 30px 0 20px;
    }
    h3 {
      font-size: 26px;
      font-weight: bold;
      line-height: normal;
      margin: 30px 0;
    }
    h4 {
      font-size: 22px;
      font-weight: bold;
      line-height: normal;
      margin-bottom: 20px;
    }
    h5 {
      font-size: 18px;
      font-weight: bold;
      line-height: normal;
      margin-bottom: 10px;
    }
    blockquote {
      border-left: 3px solid #cbcbcb;
      display: inline-block;
      padding-left: 5px;
    }
    pre {
      background-color: #23241f;
      padding: 10px;
      color: white;
      margin: 10px 0;
      border-radius: 5px;
    }
    ol {
      list-style-type: decimal;
      margin-left: 20px;
    }
    ul {
      list-style-type: disc;
      margin-left: 20px;
    }
    a {
      color: #1771cf;
      text-decoration: underline;
      transition: 0.3s;
      &:hover {
        transition: 0.3s;
        text-decoration: none;
      }
    }
  }
}

//SideMenu.tsx
.sideMenu {
  &__advList {
    &:last-child {
      margin-bottom: 20px;
    }
  }
  &__contents {
    overflow-y: auto;
    max-height: 50vh;
  }
  .titleList {
    font-weight: bold;
    &__item {
      margin-bottom: 10px;
    }
    &__subList {
      padding-left: 10px;
    }
    &__link {
      color: gray;
      transition: 0.3s;
      &:hover {
        color: black;
        transition: 0.3s;
      }
    }
  }
}

@media screen and (max-width: 640px) {
}
