// Title.tsx
.title {
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: 5vw;
  text-align: center;
  font-weight: bold;
  span {
    position: relative;
    &:after {
      position: absolute;
      content: "";
      width: 50%;
      height: 3px;
      border-bottom: 2px solid #000;
      display: block;
      right: 0;
      left: 0;
      bottom: -2px;
      margin: 0 auto;
    }
  }
}

// Blog.tsx
@media screen and (max-width: 640px) {
  .blog {
    &__list {
      .iteme {
        max-width: 100%;
      }
    }
  }
}